.clock-day:before {
    content: var(--timer-day);
}
.clock-hours:before {
    content: var(--timer-hours);
}
.clock-minutes:before {
    content: var(--timer-minutes);
}
.clock-seconds:before {
    content: var(--timer-seconds);
}

body {
    font-family: 'Nunito', sans-serif !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right,  transparent,  #d0211c 100%), url('../images/bg.jpg') no-repeat; background-size: cover;
    color: #fff !important;
}

.title {
    font-size: 6rem;
}

.clock-container {
    margin-bottom: 30px;
    border-radius: 5px;
    padding:  0 60px 20px;
    display: flex;
}
.clock-col {
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    position: relative;
}
.clock-col:not(:last-child):before, .clock-col:not(:last-child):after {
    content: "";
    background-color: rgba(255, 255, 255, .3);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -42px;
}
.clock-col:not(:last-child):before {
    top: 35%;
}
.clock-col:not(:last-child):after {
    top: 50%;
}
.clock-timer:before {
    color: #ffffff;
    font-size: 4.2rem;
    text-transform: uppercase;
}
.clock-label {
    /*color: rgba(255, 255, 255, .35);*/
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .clock-container {
        margin-bottom: 30px;
        border-radius: 5px;
        display: flex;
        padding: 0;
        width: 99%
    }
    .clock-col {
        text-align: center;
        margin-right: 5vw;
        margin-left: 5vw;
        position: relative;
    }

    .clock-col:not(:last-child):before, .clock-col:not(:last-child):after {
        content: "";
        background-color: rgba(255, 255, 255, .3);
        height: 5px;
        width: 5px;
        border-radius: 50%;
        display: block;
        position: absolute;
        right: -5vw;
    }
    .clock-col:not(:last-child):before {
        top: 35%;
    }
    .clock-col:not(:last-child):after {
        top: 50%;
    }
    .clock-timer:before {
        color: #fff;
        font-size: 4.2rem;
        text-transform: uppercase;
    }
    .clock-label {
        color: rgba(255, 255, 255, .35);
        text-transform: uppercase;
        font-size: 0.7rem;
        margin-top: 10px;
    }
    .title {
        font-size: 3rem
    }

    .row {
        width: 100vw
    }
    .col {
        width: 100vw
    }

    .reveal-video {
        width: 80vw !important;
        height: 80vh !important;
    }
 }
